
<div class="container">
    <div class="row">
            <nav>
                <ul class="side-nav">
                    <li><a class="nav-link" [class.active]="currentPage=='users'" (click)="currentPage='users'" [routerLink]="['/admin/users']">Users</a></li>
                    <li><a class="nav-link" [class.active]="currentPage=='mentors'" (click)="currentPage='mentors'" [routerLink]="['/admin/mentors']">Mentors</a></li>
                    <li><a class="nav-link" [class.active]="currentPage=='technologies'" (click)="currentPage='technologies'" [routerLink]="['/admin/technologies']">Technologies</a></li>
                </ul>
            </nav>
            <div class="col-lg-9">
                <router-outlet></router-outlet>
            </div>
    </div>
</div>

