<table class="table-content">
        <thead>
            <th>Mentor Name</th>
            <th>Year of Exp</th>
            <th>Expertise</th>
            <th>No of Trainings</th>
            <th>Fees</th>
            <th>Ratings</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let mentor of mentors">
                <td>{{mentor.mentorName}}</td>
                <td>{{mentor.experience}}</td>
                <td>{{mentor.technologySpecialist}}</td>
                <td>{{mentor.noOfTraining}}</td>
                <td>{{mentor.feeCharge}}</td>
                <td>{{mentor.rating}}</td>
                <td>
                    <a *ngIf="mentor.status=='active'" (click)="deleteUser(mentor.id)" class="link">Block Mentor</a>
                    <a *ngIf="mentor.status=='in-active'" (click)="deleteUser(mentor.id)" class="link">Un-Block Mentor</a>
                </td>
            </tr>
        </tbody>
    </table>