<div class="container">
        <h1 class="search-head">MENTOR ON DEMAND</h1>
        <div class="search-content">
            <div class="search-options">
                <div class="search-dropdown">
                        <select class="form-control form-control-lg">
                            <option>Large select</option>
                            <option>Large select</option>
                            <option>Large select</option>
                            <option>Large select</option>
                        </select>
                </div>
                <div class="search-dropdown">
                        <select class="form-control form-control-lg">
                            <option>Large select</option>
                            <option>Large select</option>
                            <option>Large select</option>
                            <option>Large select</option>
                        </select>
                </div>
            </div>
            <button type="button" class="btn btn-secondary">Find</button>
        </div>
        
        <!-- <div class="col-lg-12 search-block">
                <input type="text" placeholder="Search">      
        </div> -->
</div>
    
