<div class="container">
        <h1 class="search-head">MENTOR ON DEMAND</h1>
        <div class="search-content">
            <div class="search-options">
                <div class="search-dropdown">
                        <select class="form-control form-control-lg">
                            <option>Time Slot</option>
                            <option>9:00 AM - 11:00 AM</option>
                            <option>1:30 PM - 3:30 PM</option>
                            <option>3:30 PM - 5:30 PM</option>
                        </select>
                </div>
                <div class="search-dropdown">
                        <select class="form-control form-control-lg">
                            <option>Select Technologies</option>
                            <option>Full Stack</option>
                            <option>AngularJS</option>
                            <option>NodeJS</option>
                        </select>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" (click)="findMentor()">Find</button>
        </div>
        <router-outlet></router-outlet>
        <!-- <div class="col-lg-12 search-block">
                <input type="text" placeholder="Search">      
        </div> -->
</div>
