.main-container {
    
}
.table-content {
    width: 100%;
    font-size: 14px;
}
.table-content thead {
    background: #e6e6e6;
    font-weight: 600;
}
.table-content thead th, .table-content tbody td {
    padding: 10px;
}
.table-content tr, .table-content thead {
    border: 1px solid #e6e6e6;
}
.table-content tr:nth-child(even) {
    background: #f9f9f9;
}
