<header class="header">
    <div class="container header-container">
            <a class="logo" [routerLink]="['home']">
                <img src="../../assets/images/logo.png" alt="">
            </a>
            <ul class="nav log-reg">
                <li><a class="nav-link" [routerLink]="['login']">Sign In</a></li>
                <li class="log-reg-sep"><span class="nav-link">|</span></li>
                <li><a class="nav-link" [routerLink]="['signup']">Create Account</a></li>
            </ul>
    </div>
</header>